<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <a href="/puppies/{{id}}">
    <img class="img-circle" src="{{image}}" alt="{{name}}">
    </a>
    <a href="/puppies/{{id}}">
    {{name}}
    </a>
  </div>
  {{/each}}
</div>
